RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://denimsuede.jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://denimsuede.jakasantana.name$      [NC]
RewriteCond %{HTTP_REFERER} !^http://golpdruid.jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://golpdruid.jakasantana.name$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jakasantana.name$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.denimsuede.jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.denimsuede.jakasantana.name$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.golpdruid.jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.golpdruid.jakasantana.name$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jakasantana.name/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jakasantana.name$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

Options -Indexes

